.scroll-pane {
    -fx-background: #1B303C; /* Background color of the ScrollPane */
    -fx-background-color: #1B303C; /* Background color of the ScrollPane */
}

.scroll-pane > .viewport {
    -fx-background: #1B303C; /* Background color of the viewport */
    -fx-background-color: #1B303C; /* Background color of the viewport */
}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #2D3851;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}
